.div-opcoes {
   margin: 0 3em;
   padding: 0.3em;
}

.titulo-filtar img{
    width: 1.5em;
    height: 1.5em;
}

#filtrar-empresa{
    width: 20%;
    padding: 0.5em;
    border-radius: 0.6em;
    border: 2px solid #001b4028;
    background-color: white;
}

.adicionar,
.buscar {
    border: none;
    background-color: #F5F4F200;
    cursor: pointer;
    float: right;
}

.adicionar:hover, .buscar:hover{
    padding: 0.1em;
}

